body{
  margin:0;
}

.header{
  background-color: #2b2b2b;
  width: 100%;
  height: 65px;
  position: relative;
}

.logo{
  height: 65px;
}

.form_left{
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 175px;
}

.form_right{
  display: inline-block;
  position: absolute;
  top: 22px;
  right: 50px;
}
