body{
  margin:0;
  background-color: black;
}

.header{
  background-color: #222222;
  width: 100%;
  height: 55px;
  position: relative;
}

.logo{
  height: 45px;
  margin: 5px 5px 5px 10px;
}

.form_left{
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 250px;
}

.form_right{
  display: inline-block;
  position: absolute;
  top: 22px;
  right: 50px;
}

.navbar{
  background-color: #4E4E4e;
  width: 100%;
  height: 32px;
  position: relative;
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin:20px;
}

.navbar_a{
  position: absolute;
  top: 10px;
}
